<div class="app">
  <div class="content-container search">
    <div>
      <p>Image search Engine</p>
    </div>
    <div>
      <cds-input control-width="shrink">
        <label>Search images</label>
        <input #searchInput placeholder="search" required />
      </cds-input>
      <br/>
      <cds-button #searchButton>Search</cds-button>
      <span>&nbsp;</span>
      <cds-button #clearButton (click)="clear($event)">Clear</cds-button>
    </div>
  </div>

  <div class="content-container content">

    <!-- favourite List Panel -->
    <div class="content-container favourite-list">
      <span>Favourite List <sup>{{favouriteList.length}}</sup></span>

      <cds-card aria-label="Basic card" *ngFor="let res of favouriteList">
        <div cds-layout="vertical gap:md">
          <h2
            id="cardSocialPost"
            cds-text="section"
            cds-layout="horizontal gap:md align:vertical-center"
          >
            <p class="p1" style="width: 12rem">{{res['title']}}</p>
            <div cds-layout="horizontal gap:sm" title="Favourite">
              <cds-toggle [title]="res['isFav'] ? 'Un Favourite': 'Favourite'">
                <label></label>
                <input type="checkbox" [checked]="res['isFav']" (click)="madeFavoutite($event, res)" />
              </cds-toggle>
            </div>
          </h2>
        </div>
      </cds-card>
    </div>
    
    <!-- Search Panel Data -->
    <div class="content-container search-result">
      <!-- <p>Search Panel</p> -->

      <cds-card aria-labelledby="cardSocialPost" style="--width: 15rem; padding: 10px;" *ngFor="let res of searchList">
        <div cds-layout="vertical gap:md" >
          <div
            id="cardSocialPost"
            cds-text="section"
            cds-layout="horizontal gap:xs align:vertical-center"
            
          >
          <div class="text-overflow" [title]="res['title']">
            <a [href]="res['link']" target="_blank"> {{ res['title'] }} </a>
          </div>
            <span cds-layout="horizontal gap:sm" >
              
              <cds-toggle [title]="res['isFav'] ? 'Un Favourite': 'Favourite'">
                <label></label>
                <input type="checkbox" [checked]="res['isFav']" (click)="madeFavoutite($event, res)" />
              </cds-toggle>
            </span>
        </div>
         

          <cds-divider cds-card-remove-margin></cds-divider>

          <div cds-text="body light">
            <img [src]="res['image']['thumbnailLink']" height="150" width="170"/>
          </div>

          <cds-divider cds-card-remove-margin></cds-divider>

          <div cds-layout="horizontal gap:xs align:vertical-center">
            <div class="text-overflow" [title]="res['snippet']">{{ res['snippet'] }}</div>
          </div>
        </div>
      </cds-card>
    </div>
  </div>

</div>

<cds-demo popover cds-theme="dark" *ngIf="showFavWarningModal">
  <cds-modal _demo-mode aria-labelledby="dark-modal-title" (closeChange)="closeModal($event)">
      <cds-modal-header>
          <h3 cds-text="section" cds-first-focus id="dark-modal-title">Favourite Warning!</h3>
      </cds-modal-header>
      <cds-modal-content>
          <p cds-text="body">Limit has reached to {{MAX_LIMIT}}</p>
      </cds-modal-content>
      <cds-modal-actions>
      </cds-modal-actions>
  </cds-modal>
</cds-demo>